* {
  box-sizing: border-box
}

body {
  background-color: #4D4D4D;
  margin: 0 auto;
  text-align: center;
  min-height: 100vh;
}

.contacts {
  margin: 80px auto 0 auto;
}

.contacts p {
  margin: 0;
}

.contacts a {
  font-size: 50px;
  margin: 10px;
  color: rgb(0, 204, 255);
  text-decoration: none;
}

.contacts a:hover {
  color: rgb(130, 201, 0)
}

.contact form {
  margin: auto;
  max-width: 400px;
}

.container {
  min-height: 75vh;
  /* margin-bottom: -80px; */
}

.email, .message {
  display: block;
  margin: 20px auto;
  width: 100%;
  padding-left: 5px;
  border: 1px solid lightgrey;
  font-size: 20px;
}

.email {
  height: 50px;
}

.head {
  height: 50px;
}

.hidden {
  display: none;
}

.message {
  height: 200px;
}

.nav {
  float: right;
}

.nav-button {
  color: rgb(0, 204, 255);
  border: 1px solid #4D4D4D;
  background-color: #4D4D4D;
  margin: 10px 10px 0 0; 
}

.page {
  text-align: center;
  color: rgb(255, 255, 255);
}

.p-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0;
}

.project {
  /* border-radius: 8px; */
  margin: 40px 0;
  background-color: rgb(43, 43, 43);
  padding: 0 0 10px 0;
  list-style: none;
  -webkit-box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.3);
}

.project:hover {
  transition: 0.15s;
  transform: scale(1.01);
  -webkit-box-shadow: 1px 3px 8px 2px rgba(0, 0, 0, 0.35);
     -moz-box-shadow: 1px 3px 8px 2px rgba(0, 0, 0, 0.35);
          box-shadow: 1px 3px 8px 2px rgba(0, 0, 0, 0.35);
}

.project-image {
  /* border-radius: 8px 8px 0 0; */
  width: 100%;
  height: auto;
  max-width: 800px;
  max-height: 400px;
}

.project-links a {
  text-decoration: none;
  color: rgb(41, 200, 115);
  padding: 5px;
}

.project-links a:visited {
  color: rgb(88, 155, 0);
}

.sbt-button {
  margin: auto;
  width: 50%;
  height: 35px;
}