*, *:before, *:after {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

.site-day {
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
  text-align: center;
  min-height: 100vh;
  Font-Family: 'Open Sans', Sans-Serif;
  Font-Size: 15px;

  .hidden {
    display: none;
  }

  #switch,
  #circle {
    height: 30px;
    -webkit-transition: all 0.4s cubic-bezier(0.54, 1.6, 0.5, 1);
            transition: all 0.4s cubic-bezier(0.54, 1.6, 0.5, 1);
  } 
  #switch {
    width: 60px;
    margin: 15px auto 0 auto;
    border: 2px solid #1C3958;
    border-radius: 27px;
    background: #1C3958;
    position: relative;
  }
  #circle {
    margin-top: 5%;
    margin-left: 5%;
    width: 40%;
    height: 80%;
    border-radius: 50%;
    box-shadow: 0 4px 4px rgba(26,53,71,0.25), 0 0 0 1px rgba(26,53,71,0.07);
    background: #e9e5d5;
  }
  .switched {
    border-color: rgb(245, 207, 151) !important;
    background: rgb(245, 207, 151) !important;
  }
  .switched #circle {
    margin-left: 55%;
    background: #e9e5d5;
  }

  .head {
    height: 100px;
    background-color: rgb(180, 180, 180);

    .site-logo {
      Font-Family: 'Questrial', Sans-Serif;
      // Font-Family: 'Old Standard TT', Serif;
      Font-Size: 48px;
      padding: 10px 0 0 0;
      margin: 0 auto;
      text-align: center;
    }

    .nav {
      .nav-button, .nav-home {
        font-size: 16px;
        font-weight: 400;
        cursor: pointer;
        color: rgb(56, 56, 56);
        background-color: rgb(180, 180, 180);
        border: 0;
        margin: 10px 15px 0 0; 
      }

      .nav-button:hover, .nav-home:hover {
        color: rgb(43, 43, 43);
      }
    }
  }
  

  .container {
    min-height: 75vh;
    padding: 0 20px;

    .page {
      text-align: center;
      color: rgb(0, 0, 0);
    }

    .home-content {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);

      .home-text {
        Font-Family: 'Ubuntu', Sans-Serif;
        Font-Size: 48px;
        margin: 0;
      }

      .home-button {
        margin-top: 30px;
        min-width: 150px;
        height: 40px;
        font-size: 14px;
        color: rgb(255, 255, 255);
        background-color: rgb(12, 103, 126);
        border: 2px solid rgb(7, 7, 7);
      }
      .home-button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
      }
      
      .home-button span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
      }
      
      .home-button:hover span {
        padding-right: 25px;
      }
      
      .home-button:hover span:after {
        opacity: 1;
        right: 0;
      }
    }
  
    .p-container {
      max-width: 800px;
      margin: 0 auto;
      padding: 0;

      .project {
        /* border-radius: 8px; */
        margin: 40px 0;
        background-color: rgb(211, 211, 211);
        list-style: none;
        -webkit-box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.3);
           -moz-box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.3);
                box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.3);

                .project-image {
                  /* border-radius: 8px 8px 0 0; */
                  width: 100%;
                  height: auto;
                  max-width: 800px;
                  max-height: 400px;
                }

                .project-info {
                  padding: 10px 30px;
                  font-size: 16px;

                  .project-links a {
                    text-decoration: none;
                    padding: 5px;
                    color: teal
                  }
                }
      }
      
      .project:hover {
        transition: 0.15s;
        transform: scale(1.01);
        -webkit-box-shadow: 1px 3px 8px 2px rgba(0, 0, 0, 0.35);
           -moz-box-shadow: 1px 3px 8px 2px rgba(0, 0, 0, 0.35);
                box-shadow: 1px 3px 8px 2px rgba(0, 0, 0, 0.35);
      }
    }

    .about {
      margin: 0 0 -10px 0;
    }

    .contact-container {
      min-width: 250px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      .email, .message, .name {
        display: block;
        margin: 20px auto;
        width: 100%;
        padding-left: 5px;
        border: 1px solid rgb(114, 114, 114);
        font-size: 20px;
        border-radius: 4px;
      }
      
      .email, .name {
        height: 50px;
      }

      .message {
        height: 200px;
      }

      .sbt-button {
        cursor: pointer;
        margin: auto;
        width: 50%;
        height: 35px;
        border-radius: 4px;
        font-size: 18px;
        color: rgb(255, 255, 255);
        border: 2px solid rgb(36, 36, 36);
        background-color: rgb(12, 103, 126);
      }
      
      .sbt-button:hover {
        font-weight: 400;
        color: rgb(12, 103, 126);
        border: 2px solid rgb(12, 103, 126);
        background-color: rgb(165, 165, 165);
      }
    }
  }

  .footer {
    margin: 70px auto 0 auto;
    padding: 0 0 10px 0;
  }
  .footer p {
    margin: 0;
    color: rgb(0, 0, 0);
  }
  
  .footer a {
    font-size: 50px;
    margin: 10px;
    color: rgb(22, 105, 126);
    text-decoration: none;
  }
  
  .footer a:hover {
    transition: 0.15s;
    transform: scale(1.5);
    color: rgb(11, 54, 65);
  }
}


@media (min-width: 600px) {
  .site-day {
    .head {
      height: 100px;

      .site-logo {
        float: left;
        margin: 15px 0 0 20px;
      }
    
      .nav {
        float: right;
      
        .nav-button, .nav-home {
          margin: 40px 15px 0 0; 
        }
      }
    }
  }
}

@media (max-height: 650px) and (max-width: 380px) {
  .site-day {
    .container {
      .contact-container {
        top: 60%;
      }
    }
  }
}